.answer-review {
  padding: 1rem;
  font-family: "Rubik", sans-serif;
}

.review-card {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.review-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.review-button-container button {
  width: 100%;
  max-width: 300px;
}