/* DashboardSubject.css */

.subject-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

.subject-header {
  background-color: blueviolet;
  border-radius: 8px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subject-header h1 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.subject-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.subject-card {
  background: white;
  border: 3px solid #f85aca;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subject-card h2 {
  margin: 10px 0;
  color: #4c2673;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.subject-card p {
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.subject-card button {
  width: 90%;
  height: 56px;
  background-color: #442d7c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.subject-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #764ed7;
}

.subject-card:hover h2,
.subject-card:hover p {
  color: #fff;
}

.subject-card:hover button {
  opacity: 1;
  transform: translateY(0);
}

/* Tablet View (≤1199px) */
@media (max-width: 1199px) {
  .subject-card {
    width: 300px;
    height: 400px;
  }

  .subject-header h1 {
    font-size: 34px;
  }
}

/* Mobile View (≤768px) */
@media (max-width: 768px) {
  .subject-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }

  .subject-card {
    width: 300px;
    height: 400px;
    max-width: 320px;
    height: auto;
    padding: 18px;
  }

  .subject-card h2 {
    font-size: 24px;
  }

  .subject-card p {
    font-size: 18px;
  }

  .subject-card button {
    font-size: 16px;
    height: 48px;
  }

  .subject-header h1 {
    font-size: 26px;
  }
}

/* Extra Small Mobile View (≤480px) */
@media (max-width: 480px) {
  .subject-card {
    padding: 16px;
    width: 300px;
    height: 247px;
  }

  .subject-card h2 {
    font-size: 24px;
  }

  .subject-card p {
    font-size: 18px;
  }

  .subject-card button {
    font-size: 14px;
    height: 44px;
  }

  .subject-header h1 {
    font-size: 15px;
  }

  .subject-container {
  padding-bottom: 100px;
}
  
}
