/* Hero page */

:root {
  --fs-300: 12px;
  --fs-400: 14px;
  --fs-500: 16px;
  --fs-600: 24px;
  --fs-700: 40px;
  --fs-800: 64px;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 2rem 2rem;
}

.hero-container p {
  color: #b5a9bb;
}

.hero-content {
  max-width: 600px;
  font-family: "Rubik", sans-serif;
  margin-block: 50px;
}

.hero-content p {
  margin-bottom: 1rem;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #442d7c;
  margin-bottom: 1rem;
}

.hero-content h3 {
  color: #946cf8;
  margin-bottom: 2rem;
}

.hero-image img {
  width: 100%;
}

.about-quizy {
  grid-column: 1 / -1;
  border: 2px solid #c3c3c3;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 2rem;
}

.about-quizy h2 {
  display: flex;
  justify-content: center;
  /* gap: 0.5rem; */
  font-size: 2rem;
  color: #442d7c;
}

.about-quizy span {
  font-family: "Rubik", sans-serif;
}

.about-quizy h2 img {
  width: 85%;
  margin-top: 6px;
}

/* ================= TABLET VIEW (≤768px) ================= */

@media only screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content p {
    margin-bottom: .5rem;
  }

  .hero-content Button {
    font-size: .8rem;
  }
}