


/* Base styles */
.navbar {
  font-family: "Rubik", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #442d7c;
  color: var(--clr-text);
  z-index: 999;
  height: 80px;
}

.navbar__container {
  background-color: #442d7c;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.navbar__logo {
  width: 100px;
  z-index: 1001;
}

.navbar__logo img {
  width: 100%;
}

/* Desktop Navigation */
.navbar__links {
  display: flex;
}

.navbar__links-left {
  display: flex;
  justify-content: center;
}

.navbar__links-left ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navbar__links-left ul li a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #fff; 
}

/* Right Links */
.navbar__links-right-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__links-right-box button {
  margin-top: 0 !important; 
}

.navbar__links-right a,
.navbar__links-right p {
  text-decoration: none;
  color: white;
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  background-color: #442d7c;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: var(--clr-background); */
  z-index: 998;
  overflow-y: auto;
  padding: 2rem;
}

.mobile-menu.open {
  display: block;
}

.navbar__links-mobile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar__links-mobile ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar__links-right-mobile {
  margin-top: 3rem;
}

.navbar__links-right-mobile a {
  text-decoration: none;
  color: #fff;
}

/* Hamburger menu */
.menu {
  display: none;
  background-color: #442d7c;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon { 
  position: relative; 
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  width: 1.8rem;
  height: 3px;
  background-color: #e6f0ff;
  display: inline-block;
  transition: all 0.3s ease;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.menu-icon::before { 
  top: -0.6rem; 
}
.menu-icon::after { 
  top: 0.6rem; 
}

.menu.active .menu-icon { 
  background-color: transparent; 
}

.menu.active .menu-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.menu.active .menu-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu {
    display: flex;
  }

  .navbar__links,
  .navbar__links-right {
    display: none;
  }

  .navbar__links-right-box {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}